{
  "openapi": "3.0.1",
  "info": {
    "title": "Adventure Builder API",
    "description": "An API for retrieving levels, leaderboards, assets, and user information in the Adventure Builder game.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.adventure-builder.net"
    }
  ],
  "security": [],
  "paths": {
    "/v1/level/{level_id}": {
      "get": {
        "description": "Returns the data of a specific level by its ID.",
        "parameters": [
          {
            "name": "level_id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Level"
                }
              }
            }
          },
          "404": {
            "description": "Level not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/level_list": {
      "get": {
        "description": "Returns a paginated list of levels based on specified criteria. Each page contains 30 items.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting method for levels.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "new"
              ],
              "default": "popular"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter for featured levels.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "theme",
            "in": "query",
            "description": "Filter levels by theme.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "plains",
                "forest",
                "space",
                "clouds",
                "cave",
                "sfoth"
              ]
            }
          },
          {
            "name": "builder",
            "in": "query",
            "description": "The ID of the builder to filter levels by.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of levels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "levels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Level"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of levels matching the query"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leaderboard/{level_id}": {
      "get": {
        "description": "Returns the leaderboard entries for a specific level.",
        "parameters": [
          {
            "name": "level_id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30,
              "maximum": 30
            }
          },
          {
            "name": "user_ids",
            "in": "query",
            "description": "Filter by an array of user IDs.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid limit parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No leaderboard entries found for this level",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets": {
      "servers": [
        {
          "url": "https://thumbnails.roblox.com"
        }
      ],
      "get": {
        "description": "Returns the images for given thumbnail IDs.",
        "parameters": [
          {
            "name": "asset_ids",
            "in": "query",
            "description": "The IDs of the thumbnails.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the thumbnail.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "30x30",
                "42x42",
                "50x50",
                "60x62",
                "75x75",
                "110x110",
                "140x140",
                "150x150",
                "160x100",
                "160x600",
                "250x250",
                "256x144",
                "300x250",
                "304x166",
                "384x216",
                "396x216",
                "420x420",
                "480x270",
                "512x512",
                "576x324",
                "700x700",
                "728x90",
                "768x432",
                "1200x80"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the thumbnail.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Png",
                "Jpeg",
                "Webp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset thumbnail response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetThumbnail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user_id}": {
      "servers": [
        {
          "url": "https://users.roblox.com"
        }
      ],
      "get": {
        "description": "Returns information about a specific Roblox user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Level": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "description": "The title of the level.",
            "type": "string"
          },
          "builder": {
            "description": "The ID of the builder.",
            "type": "integer",
            "format": "int32"
          },
          "thumbnail": {
            "description": "The thumbnail ID of the level.",
            "type": "integer",
            "format": "int64"
          },
          "plays": {
            "description": "The number of times the level has been played.",
            "type": "integer",
            "format": "int32"
          },
          "featured": {
            "description": "Whether the level is featured.",
            "type": "boolean"
          },
          "theme": {
            "description": "The theme of the level.",
            "type": "string"
          },
          "created_at": {
            "description": "The timestamp when the level was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeaderboardEntry": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the leaderboard entry.",
            "type": "integer",
            "format": "int32"
          },
          "user_id": {
            "description": "The ID of the user who created this entry.",
            "type": "integer",
            "format": "int32"
          },
          "time": {
            "description": "The completion time for this entry.",
            "type": "number",
            "format": "float"
          },
          "created_at": {
            "description": "The timestamp when this entry was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssetThumbnail": {
        "type": "object",
        "properties": {
          "target_id": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The user's user ID."
          },
          "display_name": {
            "type": "string",
            "description": "The user's display name."
          },
          "name": {
            "type": "string",
            "description": "The user's username."
          },
          "description": {
            "type": "string",
            "description": "The user's description."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "When the user's profile was created."
          },
          "has_verified_badge": {
            "type": "boolean",
            "description": "Whether the user has the verified badge."
          },
          "is_banned": {
            "type": "boolean",
            "description": "Whether the user is banned."
          },
          "external_app_display_name": {
            "type": "string",
            "description": "I've got no idea what this does, sorry."
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}