{
  "openapi": "3.0.1",
  "info": {
    "title": "Adventure Builder API",
    "description": "An API for retrieving and managing levels in the Adventure Builder game.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.adventure-builder.net"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/level/{id}": {
      "get": {
        "description": "Returns the data of a specific level by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Level"
                }
              }
            }
          },
          "404": {
            "description": "Level not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/levels/{filter}": {
      "get": {
        "description": "Retrieves multiple levels based on the filter (popular, featured, new, byuser/{builderId}).",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "The filter to apply (popular, featured, new, or byuser/{builderId}).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "builder",
            "in": "query",
            "description": "Optional filter by builder ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Levels response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Level"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No levels found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Level": {
        "required": [
          "id",
          "Title",
          "Builder",
          "Thumbnail",
          "Plays",
          "Featured"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "Title": {
            "description": "The title of the level.",
            "type": "string"
          },
          "Builder": {
            "description": "The ID of the builder who created the level.",
            "type": "integer",
            "format": "int32"
          },
          "Thumbnail": {
            "description": "The thumbnail ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "Plays": {
            "description": "The number of times the level has been played.",
            "type": "integer",
            "format": "int32"
          },
          "Featured": {
            "description": "Whether the level is featured.",
            "type": "boolean"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
