{
  "openapi": "3.0.1",
  "info": {
    "title": "Adventure Builder API",
    "description": "An API for retrieving levels, leaderboards, assets, and managing multiplayer lobbies in the Adventure Builder game.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.adventure-builder.net"
    }
  ],
  "security": [],
  "paths": {
    "/v1/levels/{ids}": {
      "get": {
        "description": "Returns the data of specific levels by their IDs (max 10 IDs).",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "Array of level IDs (max 10).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "maxItems": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of level data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Level"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID format or too many IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No levels found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/levels": {
      "get": {
        "description": "Returns a paginated list of levels based on specified criteria. Each page contains 30 items.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting method for levels.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "new"
              ],
              "default": "popular"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter for featured levels.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "theme",
            "in": "query",
            "description": "Filter levels by theme.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "plains",
                "forest",
                "space",
                "clouds",
                "cave",
                "sfoth"
              ]
            }
          },
          {
            "name": "builder",
            "in": "query",
            "description": "The ID of the builder to filter levels by.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of levels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "levels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Level"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/leaderboard/{level_id}": {
      "get": {
        "description": "Returns the paginated leaderboard entries for a specific level. Each page contains 30 items.",
        "parameters": [
          {
            "name": "level_id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "userIds",
            "in": "query",
            "description": "Filter by specific user IDs.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated leaderboard entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeaderboardEntry"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No leaderboard entries found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets": {
      "servers": [
        {
          "url": "https://thumbnails.roblox.com"
        }
      ],
      "get": {
        "description": "Returns the images for given thumbnail IDs.",
        "parameters": [
          {
            "name": "assetIds",
            "in": "query",
            "description": "The IDs of the thumbnails.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the thumbnail.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "30x30",
                "42x42",
                "50x50",
                "60x62",
                "75x75",
                "110x110",
                "140x140",
                "150x150",
                "160x100",
                "160x600",
                "250x250",
                "256x144",
                "300x250",
                "304x166",
                "384x216",
                "396x216",
                "420x420",
                "480x270",
                "512x512",
                "576x324",
                "700x700",
                "728x90",
                "768x432",
                "1200x80"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the thumbnail.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Png",
                "Jpeg",
                "Webp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset thumbnail response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetThumbnail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user-id}": {
      "servers": [
        {
          "url": "https://users.roblox.com"
        }
      ],
      "get": {
        "description": "Returns information about a specific Roblox user.",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies": {
      "get": {
        "description": "Returns a list of all available lobbies with optional filters.",
        "parameters": [
          {
            "name": "max_players",
            "in": "query",
            "description": "Filter lobbies by maximum player count.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 5
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter lobbies by type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "friends"
              ]
            }
          },
          {
            "name": "player",
            "in": "query",
            "description": "Filter lobbies containing specific player ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching lobbies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lobby"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies/{ids}": {
      "get": {
        "description": "Returns information about specific lobbies (max 10 IDs).",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "Array of lobby IDs (max 10).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "maxItems": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of lobby information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lobby"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID format or too many IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No lobbies found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies/create": {
      "post": {
        "description": "Creates a new lobby.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "creator_id"
                ],
                "properties": {
                  "creator_id": {
                    "type": "integer",
                    "description": "The ID of the player creating the lobby"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "public",
                      "friends"
                    ],
                    "default": "public"
                  },
                  "max_players": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 5,
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lobby created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies/join": {
      "post": {
        "description": "Joins an existing lobby.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lobby_id",
                  "player_id"
                ],
                "properties": {
                  "lobby_id": {
                    "type": "integer",
                    "description": "The ID of the lobby to join"
                  },
                  "player_id": {
                    "type": "integer",
                    "description": "The ID of the player joining"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully joined lobby",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or lobby is full/locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lobby not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies/leave": {
      "post": {
        "description": "Leaves a lobby. If the creator leaves, the lobby is deleted.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lobby_id",
                  "player_id"
                ],
                "properties": {
                  "lobby_id": {
                    "type": "integer",
                    "description": "The ID of the lobby to leave"
                  },
                  "player_id": {
                    "type": "integer",
                    "description": "The ID of the player leaving"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully left lobby",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or lobby is locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lobby not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lobbies/teleport": {
      "post": {
        "description": "Teleports all lobby members to a specific server.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lobby_id",
                  "server_code"
                ],
                "properties": {
                  "lobby_id": {
                    "type": "integer",
                    "description": "The ID of the lobby to teleport"
                  },
                  "server_code": {
                    "type": "string",
                    "description": "The server code to teleport to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully initiated teleport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or lobby has less than 2 players",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lobby not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Level": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "description": "The title of the level.",
            "type": "string"
          },
          "builder": {
            "description": "The ID of the builder who created the level.",
            "type": "integer",
            "format": "int32"
          },
          "thumbnail": {
            "description": "The thumbnail ID of the level.",
            "type": "integer",
            "format": "int64"
          },
          "plays": {
            "description": "The number of times the level has been played.",
            "type": "integer",
            "format": "int32"
          },
          "featured": {
            "description": "Whether the level is featured.",
            "type": "boolean"
          },
          "theme": {
            "description": "The theme of the level.",
            "type": "string"
          },
          "created_at": {
            "description": "The timestamp when the level was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Lobby": {
        "type": "object",
        "required": [
          "id",
          "creator_id",
          "players"
        ],
        "properties": {
          "id": {
            "description": "The unique ID of the lobby.",
            "type": "integer",
            "format": "int32"
          },
          "creator_id": {
            "description": "The ID of the player who created the lobby.",
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "description": "The type of lobby.",
            "type": "string",
            "enum": [
              "public",
              "friends"
            ]
          },
          "max_players": {
            "description": "Maximum number of players allowed in the lobby.",
            "type": "integer",
            "minimum": 2,
            "maximum": 5
          },
          "players": {
            "description": "Array of player IDs currently in the lobby.",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "locked": {
            "description": "Whether the lobby is locked (in game).",
            "type": "boolean"
          },
          "created_at": {
            "description": "The timestamp when the lobby was created.",
            "type": "string",
            "format": "date-time"
          },
          "server_code": {
            "description": "The server code where the lobby is located (only visible with auth).",
            "type": "string"
          }
        }
      },
      "LeaderboardEntry": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the leaderboard entry.",
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "description": "The ID of the user who created this entry.",
            "type": "integer",
            "format": "int32"
          },
          "time": {
            "description": "The completion time for this entry.",
            "type": "number",
            "format": "float"
          },
          "created_at": {
            "description": "The timestamp when this entry was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssetThumbnail": {
        "type": "object",
        "properties": {
          "targetId": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The user's user ID."
          },
          "displayName": {
            "type": "string",
            "description": "The user's display name."
          },
          "name": {
            "type": "string",
            "description": "The user's username."
          },
          "description": {
            "type": "string",
            "description": "The user's description."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "When the user's profile was created."
          },
          "hasVerifiedBadge": {
            "type": "boolean",
            "description": "Whether the user has the verified badge."
          },
          "isBanned": {
            "type": "boolean",
            "description": "Whether the user is banned."
          },
          "externalAppDisplayName": {
            "type": "string",
            "description": "The user's display name in external applications."
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total_entries": {
            "type": "integer",
            "description": "Total number of items matching the query"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      },
      "Error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
