{
  "openapi": "3.0.1",
  "info": {
    "title": "Adventure Builder API",
    "description": "An API for retrieving levels in the Adventure Builder game.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.adventure-builder.net"
    }
  ],
  "security": [],
  "paths": {
    "/level/{id}": {
      "get": {
        "description": "Returns the data of a specific level by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Level"
                }
              }
            }
          },
          "404": {
            "description": "Level not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Level": {
        "required": [
          "id",
          "title",
          "builder",
          "thumbnail",
          "plays",
          "featured"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "description": "The title of the level.",
            "type": "string"
          },
          "builder": {
            "description": "The ID of the builder who created the level.",
            "type": "integer",
            "format": "int32"
          },
          "thumbnail": {
            "description": "The thumbnail ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "plays": {
            "description": "The number of times the level has been played.",
            "type": "integer",
            "format": "int32"
          },
          "featured": {
            "description": "Whether the level is featured.",
            "type": "boolean"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
