{
  "openapi": "3.0.1",
  "info": {
    "title": "Adventure Builder API",
    "description": "An API for retrieving levels and leaderboards in the Adventure Builder game.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.adventure-builder.net"
    }
  ],
  "security": [],
  "paths": {
    "/level/{id}": {
      "get": {
        "description": "Returns the data of a specific level by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Level"
                }
              }
            }
          },
          "404": {
            "description": "Level not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{id}": {
      "get": {
        "description": "Returns the leaderboard entries for a specific level.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the level.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return (max: 30).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30,
              "maximum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardEntry"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No leaderboard entries found for this level",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Invalid limit parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Level": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "description": "The title of the level.",
            "type": "string"
          },
          "builder": {
            "description": "The ID of the builder who created the level.",
            "type": "integer",
            "format": "int32"
          },
          "thumbnail": {
            "description": "The thumbnail ID of the level.",
            "type": "integer",
            "format": "int32"
          },
          "plays": {
            "description": "The number of times the level has been played.",
            "type": "integer",
            "format": "int32"
          },
          "featured": {
            "description": "Whether the level is featured.",
            "type": "boolean"
          }
        }
      },
      "LeaderboardEntry": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique ID of the leaderboard entry.",
            "type": "integer",
            "format": "int32"
          },
          "level_id": {
            "description": "The ID of the level this entry belongs to.",
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "description": "The ID of the user who created this entry.",
            "type": "integer",
            "format": "int32"
          },
          "time": {
            "description": "The completion time for this entry.",
            "type": "number",
            "format": "float"
          },
          "created_at": {
            "description": "The timestamp when this entry was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
